.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
    padding: 2rem; /* Add padding to the container */
}

.top-container{
    color: var(--Black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 1px var(--Black);
    background: var(--White);
    max-width: 500px; /* Example: Adjust max-width as needed */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%; /* Ensure form fills container width */
    margin: auto; /* Center the form horizontally */
    
}


table{
    font-size:12px;
}



.close-button-container{
    display:flex;
    justify-content: flex-end;


    &:hover{
        cursor:pointer;
    }
}