


.Side-panel-container{
    width: 30vw; /* 25% of the viewport width */
    background-color: var(--Black);
    position:absolute;
    font-family: "Worksans", sans-serif;
    color: var(--White);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 30px;
    padding-bottom: 20px;   padding-top: 10px;

&:hover{
    cursor: pointer;
    color: LightBlue;
}
 

}


.Sub-container-inventory{
  padding:10px 30px;
  text-decoration: none;
  color:var(--White);

  &:hover{
    cursor: pointer;
    color: LightBlue;
}
}




.Sub-container-account{
    padding:10px 30px;
    text-decoration: none;
    color:var(--White);
    &:hover{
        cursor: pointer;
        color: LightBlue;
    }
}

.Sub-container-logout{
    padding:10px 30px;
    text-decoration: none;
    color:var(--White);
    &:hover{
        cursor: pointer;
        color: LightBlue;
    }
}

.Sub-container-request{
    padding:10px 30px;
    text-decoration: none;
    color:var(--White);
    display:flex;
    &:hover{
        cursor: pointer;
        color: LightBlue;
    }
   
}

.Sub-container-return{
    padding:10px 30px;
    text-decoration: none;
    color:var(--White);
    display:flex;
    &:hover{
        cursor: pointer;
        color: LightBlue;
    }
}


.Button-Container{
    display:flex;
    padding-left:15px;
    flex-direction:row;
    justify-content: flex-end;
    width:100%;

}

